/*Defaults*/

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: .9em;
  line-height: 1.5;

  @media (min-width: 38em) {
    font-size: 18px;
  }
}

body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Landing */
a:hover, a:visited, a:active, a:link {
  text-decoration: none;
}

.about-container {
  display: flex;
  flex-direction: row;
}

.about-card {
  width: 40%;
}

.link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-card {
  width: 40%;
  margin: 0 10px;
  min-width: 125px;
}

.link-content {
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 50px;
  min-width: inherit;
  padding: 5px;
  width: 100%;
}

.link-content:hover {
  background-color: #515151;
  color: #fff;
}

.link-content a {
  border: 2px solid #515151;
  color: inherit;
  display: table;
  min-width: inherit;
  padding: inherit;
  text-align: center;
  width: inherit;
}

.headshot img {
  border: 1px solid #ddd;
  border-radius: 10%;
  height: auto;
  margin: 10px;
  margin-top: 50px;
  padding: 5px;
  width: 100%;
}

.light {
  font-weight: 300;
}

.semibold {
  font-weight: 600;
}
/* Landing end */

a {
  color: #515151;

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: #000000
  }

  strong {
    color: inherit;
  }
}

/* Masthead */
.masthead {
  padding-top:    2rem;
  padding-bottom: 1rem;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;
}
/* Masthead end */

/*Type Animation*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*Type*/
.landing
{
   line-height: 1.5;
   font-size: 1.25rem;
}

.landing a {
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.25;
  color: #313131;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 4rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

strong {
  color: #303030;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;

  &[title] {
    cursor: help;
    border-bottom: 1px dotted #e5e5e5;
  }
}

/* Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

//
